<%- layout('layouts/boilerplate') %> 

    <h1>CAMPGROUND SHOW PAGE</h1>
    
    <!-- <p>campground.title and location from index.js which requires /campground.js-->
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
   <p> <a href="/">Back Home</a></p>
<%# Video 427. Adding images First changed model to accept image and description, then seeds, then show page%> 
<img src="<%= campground.image %> " alt="" >
<p><%= campground.description %> </p>
 
    <p>
      <form action="/campgrounds/<%=campground._id %>?_method=DELETE" method="post">
      <button>Delete</button></form>
    </p>
    <p>
      <a href="/campgrounds/<%= campground._id %>/edit">Edit       
      </p>
    <p>
      <a href="/campgrounds">All Campgrounds</a>
    </p>
  
      <a href="/campgrounds/new">Add a new Campground</a>
    </p>
  
